<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bremsstrahlung.Properties.BackgroundSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <bremsstrahlung.Properties.BackgroundSettings>
            <setting name="DefaultBackgroundName" serializeAs="String">
                <value>control_background_13_02_2018_COMP1.ats</value>
            </setting>
            <setting name="BackgroundPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>D:\Работы\Ядерная физика\Лаб гамма_3\control_background_13_02_2018_COMP1.ats</string>
                        <string>D:\Работы\Ядерная физика\Лаб гамма_3\control_background_13_02_2018_COMP2.ats</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BackgroundNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>control_background_13_02_2018_COMP1.ats</string>
                        <string>control_background_13_02_2018_COMP2.ats</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultBackgroundPath" serializeAs="String">
                <value>D:\Работы\Ядерная физика\Лаб гамма_3\control_background_13_02_2018_COMP1.ats</value>
            </setting>
        </bremsstrahlung.Properties.BackgroundSettings>
    </userSettings>
</configuration>