<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bremsstrahlung.Properties.RegistrationEfficiency" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="bremsstrahlung.RegistrationEfficiency" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="bremsstrahlung.Properties.BackgroundSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <bremsstrahlung.Properties.RegistrationEfficiency>
            <setting name="Geometries" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>RegistrationEfficiency/V05_Efficiency.txt</string>
                        <string>RegistrationEfficiency/V01_Efficiency.txt</string>
                        <string>RegistrationEfficiency/P_Efficiency.txt</string>
                    </ArrayOfString>
                </value>
            </setting>
        </bremsstrahlung.Properties.RegistrationEfficiency>
        <bremsstrahlung.RegistrationEfficiency>
            <setting name="Point" serializeAs="String">
                <value>RegistrationEfficiency//C_Efficiency.txt</value>
            </setting>
            <setting name="Marinelli05" serializeAs="String">
                <value>RegistrationEfficiency//D_Efficiency.txt</value>
            </setting>
            <setting name="Marinelli1" serializeAs="String">
                <value>RegistrationEfficiency//O_Efficiency.txt</value>
            </setting>
        </bremsstrahlung.RegistrationEfficiency>
        <bremsstrahlung.Properties.BackgroundSettings>
            <setting name="DefaultBackgroundName" serializeAs="String">
                <value>control_background_13_02_2018_COMP1.ats</value>
            </setting>
            <setting name="BackgroundPaths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Backgrounds\control_background_13_02_2018_COMP1.ats</string>
                        <string>Backgrounds\control_background_13_02_2018_COMP2.ats</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="BackgroundNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>control_background_13_02_2018_COMP1.ats</string>
                        <string>control_background_13_02_2018_COMP2.ats</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultBackgroundPath" serializeAs="String">
                <value>Backgrounds\control_background_13_02_2018_COMP1.ats</value>
            </setting>
            <setting name="Geometries" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Backgrounds\V05_Phon.ats</string>
                        <string>Backgrounds\V01_Phon.ats</string>
                        <string>Backgrounds\P_Phon.ats</string>
                    </ArrayOfString>
                </value>
            </setting>
        </bremsstrahlung.Properties.BackgroundSettings>
    </userSettings>
</configuration>